@import './components/card_component_styles/card_component.scss';

// html {
//   height: 100%;
//   width: 100%;
// }
body {
  background-color: #121212;
}

nav {
  a,
  a:hover {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
  }
}

main {
  background: rgb(18, 18, 18);
  background: linear-gradient(0deg, rgba(18, 18, 18, 1) 42%, rgba(60, 12, 14, 0.9700922605370274) 100%);
  min-width: 100vw;
  min-height: 100vh;
  padding: 2rem !important;
}

// TODO fix focus
input:focus {
  outline: none;
  border: none;
  background-color: red !important;
}

input:active {
  outline: none;
  border: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #272626;
  color: #fff;
}

// Text utils

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//PLAYBAR STYLES
