// html {
//   height: 100%;
//   width: 100%;
// }

body {
  background-color: #121212;
}

nav {
  a,
  a:hover {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
  }
}

main {
  background: rgb(18, 18, 18);
  background: linear-gradient(0deg, rgba(18, 18, 18, 1) 42%, rgba(60, 12, 14, 0.9700922605370274) 100%);
  min-width: 100vw;
  min-height: 100vh;
  padding: 2rem !important;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: #272626;
  color: #fff;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// CARD STYLES
.card-cover-image {
  box-shadow: 0px 8px 8px 8px rgba(26, 26, 26, 0.726);
}

.btn-play {
  background-color: #e146aa;
  border: solid 2px transparent;
  display: none;
  box-shadow: 0px 2px 2px 2px rgba(212, 212, 212, 0.13);
}

.btn-play:hover {
  cursor: default;
}

.card:hover .btn-play {
  display: block;
}

.card {
  animation: 0.4s ease-in-out both fade-in;
}

.card:hover {
  background: #252525ee !important;
}

// Loop from 1-12.
@for $i from 1 through 100 {
  .card {
    &:nth-child(#{$i}) {
      // Delay the animation. Delay increases as items loop.
      animation-delay: $i * (0.1s);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.97);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// .reload {
//   background: #e2751c;
//   background: linear-gradient(45deg, rgba(#e21c1c, 1) 0%, rgba(#e2751c, 1) 100%);
//   border-radius: 50px;
//   bottom: 20px;
//   box-shadow: 0 5px 20px rgba(#000, 0.2);
//   color: #fff;
//   font-size: 13px;
//   font-weight: bold;
//   left: 50%;
//   letter-spacing: 0.075em;
//   padding: 10px 15px;
//   position: absolute;
//   text-decoration: none;
//   text-transform: uppercase;
//   transform: translateX(-50%);
// }

//PLAYBAR STYLES
